PROJECT_ROOT=
LOG_ROOT=
DEBUG_DIR=

# Dashboard Flask
DB_PATH=
SCRIPT_DIR=
MAIN_SCRIPT=

#NTFY
NTFY_TOPIC=
NTFY_URL=https://ntfy.sh

# MQTT
MQTT_BROKER=localhost
MQTT_PORT=1883
MQTT_TOPIC_TEMP=piloganalyzer/temp
MQTT_TOPIC_CPU=piloganalyzer/cpu
THRESHOLD_MULTIPLIER=2.0